.parent-container{
    height: 100%;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}




body{
    background-color: hsl(218, 23%, 16%)
}

.advice-box {
    width: 530px;
    height:280px;
    background-color: hsl(217, 19%, 38%);
    display: flex;
    flex-direction: column;
    justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        -webkit-box-shadow: -10px 5px 17px 1px rgba(0,0,0,0.78); 
box-shadow: -10px 5px 17px 1px rgba(0,0,0,0.78);
padding: 20px;
        
}

html,
body {
    height: 100%;
    font-family: 'Manrope', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    width: 150px;
}

.bottom-display {
    display: flex;
    justify-content: space-between;
}

.img {
    width: 100px
}

.button {
    width:60px;
    height:60px;
    border-radius: 50%;
    transform: translateY(150px);
    background-color:hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.button:hover {
    -webkit-box-shadow: 0px 1px 22px 7px rgba(44,255,54,0.75); 
box-shadow: 0px 1px 22px 7px rgba(44,255,54,0.75);
}


